$background-primary : #FDFDFE;
$background-secondary: #F3F3F7;
$background-third: #D9D9D9;

$brand-primary: #3D7BFF;

$text-primary: #111111;
$text-secondary: #8B847F;
$text-correct: #89DA7F;
$text-wrong: #DA7F7F;

$border-primary: #E6E6E6;