
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.iconWrapper {
    width: 120px;
    height: 120px;
    background-color: rgba($brand-primary, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 2s infinite ease-in-out;
}

.logo {
    animation: spin 3s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($brand-primary, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba($brand-primary, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($brand-primary, 0);
    }
}
