.container {
    width: 100%;
    min-height: 100vh;
    padding: $s-16;
    background-color: $background-secondary;
    padding-bottom: 120px;

    @media (min-width: 768px) {
        padding: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
    }
}

.desktopContent {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    
    @media (min-width: 768px) {
        padding: 40px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.contentWrapper {
    width: 100%;
     @media (min-width: 768px) {
        max-width: 800px;
    }
}

.section {
    background-color: white;
    padding: $s-24;
    border-radius: $s-24;
    width: 100%;
    // border removed
    // Removed shadow
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $background-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.editIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background-color: $brand-primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

.inputGroup {
    width: 100%;
}

.input {
    width: 100%;
    padding: $s-16;
    background-color: $background-secondary;
    border: none;
    border-radius: $s-12;
    font-size: 16px;
    font-weight: 500;
    color: $text-primary;
    
    &:focus {
        outline: none;
        background-color: white;
        border: 1px solid $brand-primary;
    }
    
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.deleteButton {
    width: 100%;
    padding: $s-16;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba($text-wrong, 0.05);
    border-radius: $s-12;
}
